.display-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 20px;
  padding: 20px;
}



 .poke-card {
  width: 250px;
  height: 250px;
  padding: 10px;
}

.img-wrapper {
  margin: auto;
  height: 100px;
  padding: 10px;
}
