

<div class="display-grid">
  @for (pokemon of pokemons; track pokemon) {
    <mat-card class="poke-card">
      <mat-card-header>
        <mat-card-title>{{pokemon.name}}</mat-card-title>
      </mat-card-header>
      <div class="img-wrapper">
        <img [src]="pokemon.imgUrl" width=75 height=75 />
      </div>
      <!-- grass, poison, fire, bug, flying, ground, electric, water, normal, fighting -->
      <mat-chip-set>
        @for (pokemonType of pokemon.pokemonTypes; track pokemonType) {
          <mat-chip [ngClass]="{
            'background-blue':(pokemonType==='Water' || (pokemonType==='Flying')),
            'background-red':(pokemonType==='Poison' || (pokemonType==='Fighting')),
            'background-green':(pokemonType==='Grass' || (pokemonType==='Ground')),
            }">{{pokemonType}}</mat-chip>
        }
      </mat-chip-set>
    </mat-card>

  }
</div>
